<!--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  -->
<!------ Include the above in your HEAD tag ---------->
<!-- 
<div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" action="">
                            <div class="form-group">
                                <label for="username" class="text-white">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/product">product</a> -->

<!-- EMAIL FIELD -->

 <!--  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head> -->
 

       <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->

 <head>
     

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    </head>
    <div class="backgroundcolor" style="text-align:center">
        <h3>
         Welcome to {{title}}!!
        
       </h3>
      
       <form [formGroup]="loginForm" novalidate (ngSubmit)="onLogin()">
                <div class="form-group">
                   
                    <label class="center-block">
                         
                        Email Id* <input type="email" class="form-control" formControlName="email" [(ngModel)]="loginAccount.email">
                        
                    </label>
                </div>
                

                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger">
						<div *ngIf="loginForm.controls['email'].errors.required">
							Email is required.
					  </div>
					  <div *ngIf="loginForm.controls['email'].errors.pattern">
							<!-- [(a-z),(A-Z),(0-9)@gmail.com] -->
							Email id pattern should be like this [*@gmail.com]
					  </div>
		        </div>

        <!-- PASSWORD FIELD -->
                <div class="form-group">
                    <label class="center-block">Password*
                        <show-hide-password size="sm" icon="fontawesome" btnStyle="success" [btnOutline]="false"> 
                                <input  type="password" class="form-control my-password" formControlName="password" [(ngModel)]="loginAccount.password">
                           </show-hide-password>
                       



                         


                    </label>
                </div>

                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
                    <div *ngIf="loginForm.controls['password'].errors.required">
                        password is required.
                    </div>
                
                    <div *ngIf="loginForm.controls['password'].errors.maxlength">
                                Maximum characters for password is 15
                    </div>
                    <div *ngIf="loginForm.controls['password'].errors.minlength">
                                Minimum characters for password is 6
                    </div>
                </div>
<!-- LOGIN BUTTON -->
                <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>

                
</form>



       </div>

  
  






      <!--  <html lang="en">
<head>


    <title>Jquery - Show hide password in Password textbox using checkbox</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>


</head>
<body>


<div class="container">


  <h2>Jquery - Show hide password in Password textbox using checkbox</h2>


  <input type="password" class="form-control my-password" name="password" />
  <input type="checkbox" class="showPassword" />Show Password</div>


  <script type="text/javascript">
      $(document).ready(function(){
        $('.showPassword').on('change',function(){
          var isChecked = $(this).prop('checked');
          if (isChecked) {
            $('.my-password').attr('type','text');
          } else {
            $('.my-password').attr('type','Password');
          }
        });
      });
  </script>


</div>


</body>
</html> -->
 